$primary: #de013f;
$secondory: #444;
$third: lightgrey;
$forth: #333;
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $secondory;
  gap: 0.7rem;
  h1 {
    color: white;
    font-size: 2rem;
  }
  h2,
  h3 {
    color: $primary;
  }
  p {
    font-size: 1.3rem;
    color: white;
  }
}
