$primary: #efc641;
$secondory: #444;
$third: lightgrey;
$forth: #333;
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #555;
    text-align: center;
  }
}
