$primary: rgb(239, 198, 65);
$secondory: #444;
$third: lightgrey;
$forth: #333;
.about {
  background-color: $secondory;
  display: grid;
  grid-template-rows: 250px 150px 1fr 1fr 50px;
  min-height: calc(100vh - 2rem);
  @media (max-width: 730px) {
    min-height: 100vh;
    grid-template-rows: 250px 150px 1fr 1fr 80px;
    & > :last-child {
      margin-top: 3rem;
    }
    & > :nth-child(4) {
      border-bottom: none;
    }
  }
  .imgBlock {
    background-color: $forth;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    .img {
      background-image: url(../assets/IMG_5088.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      width: 180px;
      aspect-ratio: 1;
      border-radius: 50%;
      @media (max-width: 700px) {
        width: 160px;
      }
    }
    p {
      color: $primary;
      text-align: center;
      font-weight: 900;
      width: 60%;
      font-size: 0.8rem;
    }
  }

  .contacts,
  .language,
  .skills {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 0.6rem;
    @media (max-width: 730px) {
      padding: 0.2rem;
    }

    h3 {
      color: $primary;
      text-align: center;
      font-size: 1.2rem;
      padding: 0.6rem;
      text-decoration: underline;
      @media (max-width: 730px) {
        padding: 0.2rem;
      }
    }
    .styledName {
      display: flex;
      justify-content: space-between;
      color: $third;
      font-weight: 900;
      text-decoration-line: underline;
    }
  }
  .skills {
    @media (max-width: 730px) {
      border: none;
    }
  }
  .tableList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .grid {
      color: white;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      & > :first-child {
        margin-left: 0.2rem;
      }
      .phone {
        font-size: 0.9rem;
      }
    }
  }
  .language {
    .bar {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      justify-items: center;
    }
    .lastGame {
      display: grid;
      grid-template-columns: 1fr 20px;
      color: white;
      align-items: center;
    }
  }
  .skillsBar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .textCont {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      margin-top: 0.3rem;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 0.5rem;

    a {
      font-size: 1.4rem;
      color: $primary;
    }
  }
}
